/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #a2d7ff;
  background-image: url(./assets/bliss-blur.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #383838;
  margin: 0;
  padding: 0;
  top: 0px;
}

input {
  position: fixed;
  margin: 15px;
  padding: 5px;
  top: 0;
  left: 0;
  border-radius: 13px;
  border: none;
}

button {
  position: fixed;
  margin: 15px;
  padding: 5px;
  top: 30px;
  left: 0;
  border-radius: 13px;
  border: none;
}

.search-header {
  position: fixed;
  padding: 5px;
  top: 0;
  height: 75px;
  width: 100%;
  backdrop-filter: blur(2px);
}

.day-container {
  background-color: #d8edff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 5px #0000001a;
}

.hourly-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  gap: 20px;
}

.hourly-forecast {
  min-width: 120px;
  text-align: center;
  padding: 10px;
  background-color: #ffffff80;
  border-radius: 8px;
}

.hourly-forecast img {
  width: 50px;
  height: 50px;
}

#root {
  width: 90%;
  max-width: 1200px;
  margin: 80px auto 20px auto;
}
